<div class="main text-center">
    <h1 class="fs-2">Bem-vindo ao meu projeto!</h1>
    <h3 class="fs-5">Sistema de Cadastro e Listagem de Turmas e Escolas</h3>

    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card p-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary btn-lg border-0" routerLink="/escolas">Escolas</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary btn-lg border-0" routerLink="/turmas">Turmas</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="p-2 d-flex justify-content-center fixed-bottom">
    Copyright 2023 © - Desafio - Luana Rodrigues
</footer>